ul.video-entry-list{
    border: solid 2px var(--white);
}
li:nth-child(2n){
    box-sizing: border-box;
    border-top: solid 2px var(--white);
    border-bottom: solid 2px var(--white);
}
h2{
    margin-bottom: 0.8rem;
}
.video-entry-title{
    margin-bottom: 24px;
}